<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional Suite">
	<listeners>
	<listener class-name="customListeners.Listners"></listener>
	<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
	</listeners>

	<test name="Login Test">
		<classes>
			<class name="testcases.testcase1" />
		</classes>
	</test> <!-- Test -->

	<test name="Validate Title Test">
		<classes>
			<class name="testcases.testcase2" />
		</classes>
	</test> <!-- Test -->

	<test name="Dependency Test">
	<!-- 
		<groups>
			<run>
				<include name="bvt"></include>
			</run>

		</groups>   -->

		<classes>
			<class name="testcases.testcase3" />
		</classes>
	</test> <!-- Test -->
	
	<test name="Failure Test">
		<classes>
			<class name="testcases.TestFailure" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
